html,body{
    height:100%;
    width:100%; 
    background:url(../img/compute-ea4c57a4.png);
}

img{
    height:16rem;

}
.card{
   width: 22rem; 
  margin-top:20px;
  background-color: rgba(241, 239, 250, 0.5);
  padding:8%;
}
.nav-link{
  color: black;
  text-decoration: underline;
}

.nav-bg{
  background-color: rgba(232, 228, 247, 0.5);
}